<!DOCTYPE html>
<html>
<head>
</head>
<body>
   Hello, Git!
</body>
</html>



html
<div id = "box1">box1</div>
<div id = "box2">box2</div>

css
#box1 {
  background-color: #8B00FF;
  postion: relative;
  left : 100px;
  top: 80px;
  width: 100px;
  height: 80px;
}

#box2 {
  background-color: #FFFF00;
  postion: relative;
  left : 100px;
  top: 80px;
  width: 100px;
  height: 80px;
  barder-radivs: 8px;
}








css
body {
  font-size : 64px;
}

js
var myText = "DxD";
document.write(myText+10+ " , 안녕하세요");

var myNumber = 5;
var yourNumber = 3;
document.write(myNumber+yourNumber);

var myNumber = 5;
var yourNumber = 3;
document.write((myNumber-2)==yourNumber);

var x = 10;
var y;
if(x>=20) {y = "성인"}
else {y="미성년자"}
document. write(y);



















html
<div id="box1">box1</div>
<div id="box2">box2</div>

css
#box1 {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  background-color: blue;
  color: white;
  font-size: 36px;
  border: dashed 0px #000000;
  border-radius: 48px 0 48px 0;
}

#box2 {
  display: inline-block;
  position: relative;
  top: 20px;
  left: 0px;
  width: 200px;
  height: 200px;
  background-color: #00ff55;
  color: white;
  font-size: 36px;
}










html
<div id="box1">test</div>
<input id="input" type="text"><br>
<button id="button" onclick="myFunction()">OK</button>

css
#box1 {
  width: 600px;
  height: 300px;
  background-color: #80deea;
  font-size: 48px;
}
#input {
  margin-top: 16px;
  width: 600px;
  height: 60px;
  font-size: 48px;
  padding: 0;
}
#button {
  width: 200px;
  height: 60px;
  font-size: 36px;
  margin-top: 16px;
  background-color: #80deea;

}

js
// document.write("hello");
document.getElementById('box1').innerHTML = "box2";

function myFunction() {
  var inputText = document.getElementById('input').value;
  document.getElementById('box1').innerHTML = inputText;
  document.getElementById('input').value = "";
}




html
<div id="box1">BOX1</div>
<div id="box2">BOX2</div>
<input id="input" type="text"><br>
<button id="button" onclick="myFunction()">RUN</button>

css
#box1 {
  width: 600px;
  height: 300px;
  background-color: #80deea;
  font-size: 48px;
}
#box2 {
  width: 600px;
  height: 200px;
  background-color: #ff9999;
  font-size: 48px;
}
#input {
  margin-top: 16px;
  width: 600px;
  height: 60px;
  font-size: 48px;
  padding: 0;
}
#button {
  width: 200px;
  height: 60px;
  font-size: 36px;
  margin-top: 16px;
  background-color: #80deea;
  border-radius: 32px;
  border: dashed 2px #000000;
}

js
//document.write("hello");
document.getElementById('box1').innerHTML = "DxD 안녕하세요";

function myFunction() {
  var inputText = document.getElementById('input').value;
  document.getElementById('box2').innerHTML = inputText;
  document.getElementById('input').value = "";
}