@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

figure {
  margin: 0;
}

.scroll-container {
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-item {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  background-color: #212121;
}
.scroll-item:nth-child(2) {
  background-color: #E040FB;
}
.scroll-item:nth-child(2n) h2 {
  background-color: #1d276b;
}
.scroll-item:nth-child(3n) .scroll-item__bg-image img {
  object-position: bottom;
}
.scroll-item h2 {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 1rem;
  background-color: #283593;
  color: #a1aae6;
  z-index: 1;
}

.scroll-item__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}
.scroll-item__content span {
  display: block;
}

.scroll-item__inner {
  border: 2px solid white;
  padding: 1rem;
  transition: opacity 800ms, transform 800ms;
  opacity: 0;
  transform: translate3d(0, -1.5rem, 0);
}
.scroll-item__inner.is-visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.scroll-item__bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.scroll-item__bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.scroll-item__bg-image::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: background 1000ms;
}
.scroll-item__bg-image.is-visible::after {
  background: rgba(0, 0, 0, 0.3);
}

@import url("https://fonts.googleapis.com/css?family=Lilita+One");

.bubble {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.4), inset 1em 1em 1em rgba(255, 255, 255, 0.6), 0 1em 2em rgba(0, 0, 0, 0.25);
}

.bubble:hover {
  display: none;
}

.b1 {
  animation: floatup 10s linear infinite, sideways 5s ease-in-out infinite alternate;
  left: 10%;
  top: 100%;
}

.b2 {
  animation: floatup 5s linear infinite, sideways 4s ease-in-out 1s infinite alternate;
  left: 15%;
  top: 30%;
  transform: scale(0.7);
}

.b3 {
  animation: floatup 4s linear infinite, sideways 6s ease-in-out 6s infinite alternate;
  left: 20%;
  transform: scale(1.2);
}

.b4 {
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 3s infinite alternate;
  left: 25%;
  top: 90%;
  transform: scale(0.5);
}

.b5 {
  animation: floatup 8s linear infinite, sideways 6s ease-in-out 3s infinite alternate;
  left: 30%;
  top: 30%;
  transform: scale(1.1);
}

.b6 {
  animation: floatup 7s linear infinite, sideways 4s ease-in-out 3.5s infinite alternate;
  left: 40%;
  top: 50%;
  transform: scale(0.7);
}

.b7 {
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 4s infinite alternate;
  left: 90%;
  top: 90%;
  transform: scale(0.6);
}

@keyframes floatup {
  0% {
    margin-top: 50%;
  }
  100% {
    margin-top: -50%;
  }
}
@keyframes sideways {
  0% {
    margin-left: 0em;
  }
  100% {
    margin-left: 20em;
  }
}